:javascript
  $(function() {
    setup_pcd_profile_select();
  });
  
  function setup_pcd_profile_select() {
    $('#select_pcd_profile').change(function() {
      $('#pcd_profile_clear_view').submit();
    });
  }

#dim_clear_view
  Please select a PCD Profile to edit.
  %br
  %form#pcd_profile_clear_view{:action => '/clear_view/pcd_profile_clear_view'}
    %label{:for => 'select_pcd_profile'}
      Edit:
    %select#select_pcd_profile{:name => 'select_pcd_profile'}
      %option{:selected => true, :value => ''}
      - @pcd_profiles.each do |pcdp|
        %option{:value => pcdp.id}
          = pcdp.description