%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_profile_step
    margin           : 10px
    
/ - error = flash[:profile_error]

%h1.page_title
  Create a DIM object profile
  
/ - if error
/   %div.error_section
/     %p.error_header
/       <br>
/       <b>There was a problem with the XML you tried to upload.
/       The error message is only telling you about the first problem in encountered.  Hopefully it is helpful.</b>
/     %p.error_message
/       &= error
/     %p
/       <br>

%form#submit_profile_step{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    %div
      %label
        Profile Role
      %select{:name => 'profile_role', :id => 'profile_role', :required => true}
        %option{:value => ''}
          \-
        - @roles.each do |role|
          %option{:value => role}
            = role
    .clear

  %input.submission_button#submit_profile_step_button{:type => "submit", :name => "profile_step_submit", :value => "Next Step", :style => 'background-color:lightblue'}
<br>