%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_profile_step
    margin           : 10px
    
  .user_input
    vertical-align: top
    
/ - error = flash[:profile_error]

%h1.page_title
  Create a DIM object profile
  
/ - if error
/   %div.error_section
/     %p.error_header
/       <br>
/       <b>There was a problem with the XML you tried to upload.
/       The error message is only telling you about the first problem in encountered.  Hopefully it is helpful.</b>
/     %p.error_message
/       &= error
/     %p
/       <br>

%form#submit_profile_step{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    %div
      %label
        Profile Step 3
      / %div
      /   = @klass_name
      / %div
      /   = @role
      %div
        %span.user_input
          = "This #{@klass_name} may be fulfilled by "
        %select.user_input{:name => 'choice_group_select', :id => 'choice_group_select', :required => true}
          %option{:value => ''}
            \-
          - Profile::CHOICE_TYPES.each do |type|
            %option{:value => type}
              = type
        %span.user_input
          = " the following "
        %select.user_input{:name => 'choice_or_obj_select', :id => 'choice_or_obj_select', :required => true}
          %option{:value => ''}
            \-
          - Profile::CHOICE_OR_OBJ.each do |val|
            %option{:value => val}
              = val
        .clear
        %hr
        = @term_selection
        .content_loading_image
    .clear

  %input.submission_button#submit_profile_step_button{:type => "submit", :name => "profile_step_submit", :value => "Next Step", :style => 'background-color:lightblue'}
<br>