:sass
  th 
    background-color: #C3DBF4
    border: 1px solid black
  td
    border: 1px solid black
  table.results_table
    border: 1px solid black
    float: left
    th, td
      border: 1px solid black
  table#ped_figure_results
    width: 700px
  table.KeyTable tr.focus
    border: 3px solid blue
  form label.main_input
    width: 180px
  table.display
    clear: none
  .dataTables_wrapper
    clear: none
  .diffins
    background: #5F5
  .diffmod
    background: #FC5
  .diffdel
    background: #F55

:textile

  h2=. #{description || "PCD Profile with no description"}

  h4=. #{locals[:effective_date].to_s}
  

.clear

