:javascript
  $(function() {
    setup_render_pcd_profile_button();
    setup_compare_pcd_profiles_button();
  });
  
  function setup_render_pcd_profile_button() {
    $('#render_pcd_profile_button').click(function() {
      popuplate_rendering_content($('#pcd_profile').val(), null);
      return false;
    });
  }
  
  // function setup_compare_pcd_profiles_button() {
  //   $('#compare_pcd_profiles_button').click(function() {
  //     popuplate_rendering_content($('#pcd_profile').val(), $('#second_pcd_profile').val());
  //     return false;
  //   });
  // }
  
  function popuplate_rendering_content(first_pcd_profile, second_pcd_profile) {
    var pcd_profile_select_form = $('#pcd_profile_select_form')
    var rendering_content_div = $('#rendering_content')
    
    // Hide select form
    pcd_profile_select_form.hide();
    
    // Show loading message
    rendering_content_div.html('<center id="content_loading_image">Rendering, please wait. &nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/ajax-loader.gif" /></center>');
    
    // if (second_pcd_profile == null) {
      url = '/render/render_pcd_profile_by_id/'+first_pcd_profile;
    // } else {
    //   url = '/render/compare_pcd_profiles_by_id/'+first_pcd_profile+'/'+second_pcd_profile;
    // }
    
    $.ajax({
      type: 'POST',
      url: url,
      success: function(responseText) {
        rendering_content_div.html(responseText);
      },
      error: function() {
        rendering_content_div.html('<center>An error occurred while rendering.</center>');
      }
    });
  }

#pcd_profile_select_form
  %form{:action => "", :method => 'POST'}
    .first_pcd_profile_select_text
      Please select the type of pcd_profile:
    %select#pcd_profile{:name => 'pcd_profile'}
      - @pcd_profiles.each do |pcd_profile|
        %option{:value => pcd_profile.id}
          = pcd_profile.description
    %input#render_pcd_profile_button{:type => 'submit', :name => 'render_pcd_profile', :value => 'Render PCD Profile'}
    %br
    / %br
    / .second_pcd_profile_select_text
    /   Optionally select a pcd_profile to compare against:
    / %select#second_pcd_profile{:name => 'second_pcd_profile'}
    /   %option{:value => ''}
    /     None
    /   - @pcd_profiles.each do |pcd_profile|
    /     %option{:value => pcd_profile.id}
    /       = pcd_profile.description
    / %input#compare_pcd_profiles_button{:type => 'submit', :name => 'compare_pcd_profiles', :value => 'Compare Usecases'}
    / This comparison may take several minutes.
#rendering_content