%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

%h1.page_title
  Update Terms

%form#update_terms_form{:method => 'POST', :enctype => 'multipart/form-data'}

  %input.submission_button#update_terms_button{:type => "submit", :name => "update_terms_submit", :value => "Update Terms", :style => 'background-color:lightblue'}
<br>
%hr
= @response