/ Page for uploading XML of containment in order to generate new profile
%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_dsv
    margin           : 10px
    
  #dsv_example_container
    background-color : beige
    margin           : 0 auto
    border           : solid 3px
    
  #dsv_example_inner_container
    margin-left: 50px
    
- error = flash[:rch_parse_error]

%h1.page_title
  Upload Tab Separated Values for Point of Care Device (11073:10201)
  
  
- if error
  %div.error_section
    %p.error_header
      <br>
      <b>There was a problem with the file you tried to upload.  
      The error message is only telling you about the first problem in encountered.  Hopefully it is helpful.</b>
    %p.error_message
      &= error
    %p
      <br>

%form#submit_dsv{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    %div
      %label
        Profile Name
      %input{:type => 'text', :name => 'profile_name', :value => '', :id => 'profile_name', :required => true}
    %div
      %label
        Profile Type&nbsp&nbsp
      %select{:name => 'profile_type', :id => 'profile_type', :required => true}
        %option{:value => ''}
          \-
        - MyDevice::IntendedUse.literal_values.each do |profile_type|
          %option{:value => profile_type.gsub(/\(.*\)/, '')}
            = profile_type
    %div
      %input#rch_upload{:type => 'file', :name => 'dsv_upload', :required => true}
      
    .clear

  %input.submission_button#submit_profile_upload{:type => "submit", :name => "dsv_upload_submit", :value => "Upload File", :style => 'background-color:lightblue'}