a.dim_link_button {
    display: inline-block;
    box-sizing: border-box;
    margin: 25px;
    padding: 1px 6px;

    font: 24px Arial;
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    color: buttontext;

    border: 2px outset buttonface;
    border-image: initial;

    background-color: buttonface;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    cursor: default;
}

/*a.create_docx_link:active {border-style: inset;}*/
a.dim_link_button:active {border-style: inset;}