%div#rch_report_legend{:style => 'margin-top : 5px;', :max_width => '180px'}
  / %div#rch_report_legend_inner{:style => 'border : solid 2px;'}
  %div#rch_report_legend_inner
    %table#rch_report_dot_levels_legend_table{:style => 'border : solid 1px; margin : 20px', :width => "100px"}
      %tr{:style => "background-color : #{MyDevice::Reports::RCH_HTML::MDS_BACKGROUND_COLOR}"}
        %td
          MDS
      %tr{:style => "background-color : #{MyDevice::Reports::RCH_HTML::VMD_BACKGROUND_COLOR}"}
        %td
          \. VMD
      %tr{:style => "background-color : #{MyDevice::Reports::RCH_HTML::CHANNEL_BACKGROUND_COLOR}"}
        %td
          \. . Channel
      %tr{:style => "background-color : #{MyDevice::Reports::RCH_HTML::METRIC_BACKGROUND_COLOR}"}
        %td
          \. . . Metric
    %table#rch_report_rtmms_color_codes_table{:style => 'margin : 20px;'}
      %tr{:style => "color : #{MyDevice::Reports::RCH_HTML::PROPOSED_VALUE_COLOR}"}
        %td
          Not Found In RTMMS
      %tr{:style => "color : #{MyDevice::Reports::RCH_HTML::PROPOSED_VALUE_COLOR_2}"}
        %td
          Needs Replacement with RTMMS Term          
      %tr{:style => "color : #{MyDevice::Reports::RCH_HTML::DISALLOWED_VALUE_COLOR}"}
        %td
          \#Value Not Allowed
