%style{:type => 'text/css' }
  @import "/css/dim.css";
  
.devices_link
  %a.dim_link_button{:href => '/x73/devices'}
    Devices
    
.nomenclature_link
  %a.dim_link_button{:href => '/x73/nomenclature'}
    Nomenclature

- if !session[:is_admin]

  .classifiers_link
    %a.dim_link_button{:href => '/x73/uml'}
      DIM Class and Data Type Definitions

  .ieee_standard_link
    %a.dim_link_button{:href => '/x73/standard'}
      Standard Editor
    