%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}
:sass
  $color:   #84f9eb
    
  .rtmms_link_bar
    // :text-align center
    :display block
    :font-size 16px
    :background-color #053aaa
    :border-radius 5px
    a
      color: $color
      text-align: center
      text-decoration: none
      margin-left: 20px

      &:visited
        color: #9cd5f3
      &:hover
        color: $color

=@nomenclature
%br
%div
  %a.rtmms_link.link_button{:href => 'https://rtmms.nist.gov/rtmms/index.htm', :target=> '_blank'} Visit NIST RTMMS Site
%br
%div
  %a.update_terms_link.link_button{ :id => 'update_terms_link', :href => 'update_terms'} Synchronize Terms with RTMMS
/ %input.action_button{ :type => "submit", :name => "update_terms", :value => "Sync with RTMMS"}
/ %form#update_terms_form{:method => 'POST', :enctype => 'multipart/form-data'}
/
/   %input.submission_button#update_terms_button{:type => "submit", :name => "update_terms_submit", :value => "Update Terms", :style => 'background-color:lightblue'}
/ <br>
- if @updated_terms
  %hr
  = @updated_terms
